<span ng-show="item.cervical_lymphadenopathy != ''">
  Cervical lymphadenopathy:
  [[item.cervical_lymphadenopathy]]
  <br />
</span>

<span ng-show="item.inguinal_lymphadenopathy != ''">
  Inguinal lymphadenopathy:
  [[item.inguinal_lymphadenopathy]]
  <br />
</span>

<span ng-show="item.jaundice != ''">
  Jaundice:
  [[item.jaundice]]
  <br />
</span>

<span ng-show="item.dehydrated != ''">
  Dehydrated:
  [[item.dehydrated]]
  <br />
</span>

<span ng-show="item.rash != ''">
  Rash:
  <span ng-show="item.rash == 'N' || item.rash == 'NAD'">
    [[item.rash]]<br />
  </span>
  <span ng-show="item.rash == 'Y' && (item.rash_type != '' || item.rash_distribution != '')"><!--
    --><span ng-show="item.rash_type != ''">[[item.rash_type]]</span><!--
    --><span ng-show="item.rash_distribution != ''"><!--
      --><span ng-show="item.rash_type != ''">, </span><!--
      -->[[item.rash_distribution]]<!--
    --></span>
  <br />
</span>

<span ng-show="item.cardiovascular">
  Cardiovascular:
  [[item.cardiovascular]]
  <br />
</span>

<span ng-show="item.respiratory">
  Respiratory:
  [[item.respiratory]]
  <br />
</span>

<span ng-show="item.abdominal">
  Abdominal:
  [[item.abdominal]]
  <br />
</span>

<span ng-show="item.oropharnyx">
  Oropharnyx:
  [[item.oropharnyx]]
  <br />
</span>

<span ng-show="item.neurological">
  Neurological:
  [[item.neurological]]
  <br />
</span>
