{% load forms %}
<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h3>
    <i class="glyphicon glyphicon-ok"></i> &nbsp;
    <span ng-show="episode.hasTag('walkin_triage')" >Next</span>
    <span ng-show="episode.hasTag('walkin_doctor')" >End of appointment</span>
    <span ng-show="episode.hasTag('walkin_review')" >Results actioned</span>
    ([[ episode.demographics[0].name ]])
  </h3>
</div>
<div class="modal-body">

  <!-- Initial State Walkin triage -->
  <div ng-show="episode.tagging[0].walkin_triage == true && meta.accepted == null">
    <p>Accept onto walk-in service?</p>
    <center>
      <button class="btn btn-primary btn-lg" ng-click="meta.accepted = true">Doctor-led care</button>
      <button class="btn btn-primary btn-lg"  ng-click="meta.accepted = false">Nurse-led care</button>
    </center>
  </div>

  <!-- Triage -> Doctor led care -->
  <div ng-show="episode.tagging[0].walkin_triage == true && meta.accepted == true">
    <p>Are you sure?</p>
    <center>
      <button class="btn btn-primary btn-lg"  ng-click="move_to_doctor()">Move to doctor</button>
    </center>
  </div>

  <!-- Triage -> Nurse Led care  -->
  <div ng-show="episode.tagging[0].walkin_triage == true && meta.accepted == false">
    <form class="form-horizontal">
      {% select label="Reason" model="meta.nurse_reason" lookuplist="wi_nurse_reason_list" %}
      {% input label="Diagnosis" model="meta.diagnosis" lookuplist="condition_list" show="meta.nurse_reason=='Treated by nurse'" %}
      {% textarea label="Treatment" model="meta.treatment" show="meta.nurse_reason=='Treated by nurse'" %}
    </form>
    <center>
      <button class="btn btn-primary btn-lg"  ng-click="nurse_led_care()">Remove from list</button>
    </center>
  </div>

  <!-- Initial state Doctor led care -->
  <div ng-show="episode.tagging[0].walkin_doctor == true && meta.next == null">
    <p class="lead">
      It's the end of the Walk-in appointment for <b>[[ episode.demographics[0].name ]]</b>.
    </p>
    <p class="lead">
      What's the <b>next</b> stage?
    </p>
    <center>
      <button class="btn btn-primary"  ng-click="meta.next = 'no_outstanding'">
        <i class="fa fa-home"></i> No outstanding result
      </button>
      <button class="btn btn-primary" ng-click="meta.next = 'outstanding'">
        <i class="fa fa-clock-o"></i> Wait for outstanding result
      </button>
      <button class="btn btn-primary"  ng-click="meta.next = 'admit'">
        <i class="fa fa-bed"></i> Admit to ward
      </button>
    </center>
  </div>

  <div ng-show="episode.tagging[0].walkin_doctor == true && meta.next == 'outstanding'">
    <p class="lead">Are you sure you want to move [[ episode.demographics[0].name ]] to <b>review</b>?</p>
    <center>
      <button class="btn btn-primary btn-lg"  ng-click="move_to_review()">Move to review</button>
    </center>
  </div>
  <div ng-show="episode.tagging[0].walkin_doctor == true && meta.next == 'no_outstanding'">
    <p class="lead">Remove [[ episode.demographics[0].name ]] with <b>no follow up</b>?</p>
    <center>
      <button class="btn btn-primary btn-lg"  ng-click="remove_from_list()">Remove from list</button>
    </center>
  </div>
  <div ng-show="episode.tagging[0].walkin_doctor == true && meta.next == 'admit'">
    <p class="lead">Which team should [[ episode.demographics[0].name ]] be <b>admitted</b> to?</p>
    <form class="form form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-3">Team:</label>
      <div class="col-sm-8">
        <select class="form-control" ng-model="meta.target_team">
          <option value="">---------</option>
          {% for team in teams %}{% if not team.parent %}{% if team.direct_add %}
          {% if team.has_subteams %}
          {% for subteam in team.team_set.all %}
          <option value="{{subteam.name}}">{{ team.title }} / {{ subteam.title }}</option>
          {% endfor %}
          {% else %}
          <option value="{{team.name}}">{{team.title}}</option>
          {% endif %}
          {% endif %}{% endif %}{% endfor %}
        </select>
      </div>
    </div>
    </form>
  </div>

  <!-- Initial state for Results actioned -->
  <div ng-show="episode.tagging[0].walkin_review == true && meta.results_actioned == null">
    <center>
      <button class="btn btn-primary"
              ng-click="meta.results_actioned = 'outpatient-appointment'">
        <i class="fa fa-calendar"></i> Has Consultant Outpatient Appointment
      </button>
      <button class="btn btn-primary"  
              ng-click="meta.results_actioned = 'results-back'">
        <i class="fa fa-home"></i> All results back
      </button>
    </center>
  </div>

  <!-- Confirmation state for Restults actioned -->
  <div ng-show="episode.tagging[0].walkin_review == true && meta.results_actioned != null">
    <center>
      <button class="btn btn-primary"  ng-click="remove_from_list()">
        <i class="fa fa-remove"></i> Remove from list
      </button>
    </center>    
  </div>
  <div class="modal-footer">
    <span ng-show="episode.tagging[0].walkin_doctor == true && meta.next == 'admit'">
      <button class="btn btn-primary" ng-click="admit_to_ward()">
        <i class="fa fa-bed"></i> Admit to ward
      </button>
    </span>
    <button class="btn" ng-click="cancel()">Cancel</button>
  </div>
