<p>
  Re: [[ episode.demographics[0].name ]] <span ng-show="episode.demographisc[0].date_of_birth"> -
    [[episode.demographisc[0].date_of_birth | shortDate]] ([[ episode.demographisc[0].date_of_birth | age ]])<br />
  </span>
</p>
<p>
  This patient was seen in the Hospital for Tropical Diseases Emergency Clinic due to concern about
  possible exposure to the ZIKA virus.
</p>
<p>Recent travel to:</p>
<p ng-repeat="travel in episode.travel">
  [[ travel.destination ]] - [[ travel.dates ]]
  <span ng-show="travel.specific_exposures">(specific exposures: [[ travel.specific_exposures ]])
  </span>
</p>

<p>
  Type of accommodation
</p>

<p>
  Pregnant- Yes/No
  (If <12 weeks- confirm with pregnancy test at HTD)
          No.of weeks gestation at exposure
          Estimated due date
          Hospital where booked for antenatal care

          History of yellow fever vaccine?
</p>

<p><b>Presenting symptoms:</b></p>
<p ng-repeat="walkinSymptom in episode.symptom">
  The patient reported a
  <span ng-show="walkinSymptom.duration == '3 days or less' || walkinSymptom == '4-10 days'">short</span>
  <span ng-show="walkinSymptom.duration == '11-21 days' || walkinSymptom == '22 days to 3 months'">sub-acute</span>
  <span ng-show="walkinSymptom.duration == 'over 3 months'">long</span>
  history of
  <span ng-repeat="symptom in walkinSymptom.symptoms">[[ symptom.toLowerCase() ]][[ $last ? '' : $index + 2 === episode.symptom[0].symptoms.length ? ' and ' : ', ']]</span>
</p>

<p><b>Clinical Impression:</b></p>


Investigations sent-
Remember- Serum save in all patients.
If sending any virology fill in dedicated form which includes the additional travel exposure questions. Try to put all samples in one bag.
Blood ZIKA PCR (only if symptomatic)
Urine PCR (if <3 weeks (and only if classical symptoms of ZIKA see algorithm.)
Dengue and Chikungunya serology and PCR (on patients with symptoms)

Advice given
(remember counsel about utility of tests, false negatives etc.)

Follow up arrangements:
(Bring back to a consultant clinic 2 weeks after tests sent)
(If no tests sent apart from serum-save advise follow up in local obstetric department and we will keep details so that if more tests become available we can get in touch)
